.App {
  margin: 0px;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 18px;
}

.nav a {
  color: white;
  text-decoration: none;
}

.table {
  display: inline-block;
}

/* .row:nth-child(even) {
  background-color: #dddddd;
} */

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.stock-table {
  display: inline-block;
  border-collapse: collapse;
  border: #F9F9F9;
}

.td-stock-table {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.title {
  font-weight: 700;
}



